<main class="main">
  <app-home-work50 poster="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/eed1de3a-5400-43b3-839e-22490389bf54/600x900" name="The Matrix" [year]="1999"></app-home-work50>
  <app-home-work50 poster="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/6f631486-e947-487d-94d6-41c2b5a8f5a0/600x900" name="The Martian" [year]="2015"></app-home-work50>
  <app-home-work50 poster="https://upload.wikimedia.org/wikipedia/ru/0/02/Captain_Fantastic_%28film%29.jpg" name="Captain Fantastic" [year]="2016"></app-home-work50>
  <app-home-work50 poster="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/eed1de3a-5400-43b3-839e-22490389bf54/600x900" name="The Matrix" [year]="1999"></app-home-work50>
  <app-home-work50 poster="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/6f631486-e947-487d-94d6-41c2b5a8f5a0/600x900" name="The Martian" [year]="2015"></app-home-work50>
  <app-home-work50 poster="https://upload.wikimedia.org/wikipedia/ru/0/02/Captain_Fantastic_%28film%29.jpg" name="Captain Fantastic" [year]="2016"></app-home-work50>
  <app-home-work50 poster="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/eed1de3a-5400-43b3-839e-22490389bf54/600x900" name="The Matrix" [year]="1999"></app-home-work50>

</main>
