<header class="header">
  <img [src]="logo" alt="logo">
  <app-saydbar title="home"></app-saydbar>
  <app-saydbar title="contact"></app-saydbar>
  <app-saydbar title="about"></app-saydbar>
  <app-saydbar title="servis"></app-saydbar>
</header>

