.home-work50 {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 2px #000;
  background: #cccccc;
}

.home-work50:hover{
  transition-duration: 1s;
  transform: scale(1.2);
}
