.sayBar{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.list{
display: inline-block;
  list-style: none;
  padding: 0;
}

.link{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
}

.link:hover{
  box-shadow: 0 5px 5px #000;
}
